* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: PlusJakartaSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;
    opacity: 0.95;
    font-size: 14px;
    line-height: 1.4;
    background-image: url('../images/pexels-pixabay-414029 (1).jpg');
    background-repeat:repeat;
    background-attachment:local;
    background-size: 100%;
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

#group {
    width: 100%;
    height: 100%;
}

#cabecalho {
    width: 100%;
    background-color: rgba(221, 236, 237, 0.9);
    display: inline-flex;
    padding: 10px 0px;
    position: fixed;
}

.titulo {
    font-size: 15px;
    width: 25%;
    text-align: center;
}

.pesquisa {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

#pesquisa {
    width: 98%;
    height: 38px;
    font-weight: 600;
    color:rgb(83, 83, 90);
    border: none;
}

#pesquisa:focus{
    outline: none;
}

#barra-pesquisa {
    background-color: White;
    width: 440px;
    display: flex;
    border: 2px solid #c0c6c7;
    border-radius: 3px;
}

#barra-pesquisa:focus {
    border: 3 solid #4639E0;
}

.menu {
    width: 25%;
    text-align: center;
}

.list-items {
    display: inline-flex;
    list-style: none;
}

.menu-item {
    text-decoration: none;
    margin: 10px 15px;
    font-size: 100%;
    font-weight: 500;
    font-weight: 400;
    color: rgb(46, 58, 71);
}

.menu-item:hover {
    color: rgb(67, 179, 207);
}

.icone-pesquisa {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 9px;
    margin-right: 6px;
}

.titulo-esquerda {
    color: rgb(30, 30, 31);
}

.titulo-direita {
    color: #4639E0;
}

#painel-esquerdo {
    padding-top: 40px;
    background-color: rgba(227, 235, 238, 0.8);
    width: 25%;
    height: 100%;
    font-display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    margin-top: 62px;
}

#corpo {
    height: 100%;
    width: 100%;
    display: inline-flex;
}

.descricao {
    margin-left: 18px;
    height: 75%;
}

p {
    margin-top: 10px;
    font-size: 16px;
    width: 90%;
    word-spacing: 3px;
    line-height: 28px;
}

.detalhes-botao {
    max-width: 100%;
    font-weight: 600;
    line-height: 1;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color .1s,border ease-in-out,transform .1s,box-shadow 5ms,border-color .25s;
    vertical-align: top;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: -.015em;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    background: 0 0;
}


.botao {
    width: 70%;
    background: rgb(48, 50, 51);
    color: #000;
    border-color: #dfdfe0;
    margin-left: 14%;
    height: 35px;
    padding: 5px;
    border: 1 solid #397ce0;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
}

.botao:hover {
    background: rgb(118, 132, 139);
}

.botao > span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgb(235, 243, 243);
}

#painel-central {
    width: 100%;
    height: 100%;
    font-display: flex;
    justify-content: space-around;
    background-color: rgba(32, 32, 32, 0.3);
}

#div-login {
    margin-top: 14%;
    width: 40%;
    margin-left: 40%;
    margin-right: 20%;
    box-shadow: 2px 2px #dbebec;
    padding: 40px;
    background-color: rgb(221, 233, 233);
    border-radius: 5px;
}

#div-login > h2 {
    margin-left: 20%;
    margin-bottom: 20px;
}

.form-element {
    margin-top: 10px;
    width: 60%;
    margin-left: 20%;
}

.form-element > label {
    color: rgb(50, 54, 54);
    font-weight: 600;
}


#botao-submeter:hover {
    background-color: rgb(118, 132, 139);
    border-color: rgb(118, 132, 139);
}

.form-element > .element > input {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,cantarell,helvetica neue,ubuntu,sans-serif;
    margin-top: 8px;
    width: 100%;
    height: 33px;
    border: 2px solid #c0c6c7;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    color: rgb(48, 49, 51);
    padding: 0px 10px;
}

.form-element > .element > input:focus {
    outline-style: dashed;
    outline:#397ce0;
    outline-color: #4639E0;
    outline-width: 10px;
}

#botao-submeter {
    margin-left: 20%;
    margin-top: 10px;
    width: 150px;
    height: 35px;
    background: rgba(48, 50, 51, 0.9);
    border-color: rgb(77, 96, 107);
    color: White;
}

.status-message {
    color:#000;
}

.active {
    color: red;
}